body {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	overflow: hidden;
	
}

#ocean{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid transparent;
	height: 1000%;
	width: 0px;
	border-radius: 100%;
	background-color: cornflowerblue;
}

#island{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid transparent;
	height: 100%;
	width: 0px;
	border-radius: 100%;
	background-color: darkolivegreen;
}

#barrier{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid transparent;
	height: 30%;
	width: 0px;
	border-radius: 100%;
	background-color: brown;
	
}

#circle {
	position: absolute;
	height: 10%;
	width: 0px;
	border-radius: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: red;
}

#instructions{
	position: absolute;
	color: black;
	margin: auto;
	text-align: center;
	width: 100%;
	
}

.debug{
	
	position: absolute;
}


